@layout("/common/_container.html"){
<script src="${ctxPath}/static/modular/cloumnType/columnType/jquery.searchableSelect.js"></script>
<link href="${ctxPath}/static/modular/cloumnType/columnType/jquery.searchableSelect.css" rel="stylesheet" type="text/css">
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6">
                    <#input id="restaurant" name="餐厅名" underline="true"/>
                    <#avatar id="thumb" name="餐厅缩略图" avatarImg=""/>
                    <#select id="userId" name="用户"/>
                    <#select id="cityId" name="城市"/>
                    <#input id="address" name="餐厅详细地址"/>
                    <#input id="businessHours" name="营业时间" underline="true"/>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">审核</label>
                        <div class="col-sm-9">
                            <select id="status" name="status">
                                <option value="0">未审查</option>
                                <option value="1">考察</option>
                                <option value="2">通过</option>
                                <option value="3">拒绝</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <fieldset  style="margin-top: 3%">
                    <legend>
                        餐厅图集
                        <input type="button" value="+" onclick="$(this).next().click();" />
                        <input type="file" style="display: none;" onchange="addImg($(this));" />
                    </legend>
                    <div class="putimg"	>
                    </div>
                </fieldset>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="RestaurantInfoManagerInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="RestaurantInfoManagerInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<input id="id" name="" type="hidden"/>
<input id="userId_" type="hidden"/>
<input id="cityId_" type="hidden"/>
<input id="status_" type="hidden"/>
<input id="old_object_name" type="hidden" />
<input id="object_name" type="hidden" />
<textarea id="images" style="display: none;"></textarea>
<script>
    $(function () {
        $('input[name="status_"]').bind('click',function () {
            $('input[name="status"]').val($(this).val());
        });
    });
</script>
<script src="${ctxPath}/static/modular/restaurantManager/restaurantInfoManager/restaurantInfoManager_info.js"></script>
@}
