@layout("/common/_container.html"){
<script src="${ctxPath}/static/modular/cloumnType/columnType/jquery.searchableSelect.js"></script>
<link href="${ctxPath}/static/modular/cloumnType/columnType/jquery.searchableSelect.css" rel="stylesheet" type="text/css">
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-12 b-r">
                    <input id="id" type="hidden"/>
                    <#input id="title" name="标题" underline="true"/>
                    <#avatar id="picture" name="封面图"/>
                    <input id="old_object_name" type="hidden"/>
                    <input id="object_name" name="阿里云OSS删除时用到的key" type="hidden"/>
                    <div id="example" role="application" style="margin-bottom: 3%">
                        <div class="demo-section k-content">
                            <h2>请选择标签</h2>
                            <select id="tagId" multiple="multiple" data-placeholder="请选择标签">
                            </select>
                        </div>
                        <style>
                            .demo-section label {
                                display: block;
                                margin: 15px 0 5px 0;
                            }
                            #get {
                                float: right;
                                margin: 25px auto 0;
                            }
                        </style>
                    </div>
                    <#select name="广告类型" id="type"/>
                    <div id="item">
                        <#select id="item_id" name="广告对象" underline="true"/>
                    </div>
                    <div id="url">
                        <#input id="href" name="广告跳转的超链接" underline="true"/>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">是否启用</label>
                        <div class="col-sm-9">
                            <select id="is_ok" name="is_ok">
                                <option value="0">否</option>
                                <option value="1">是</option>
                            </select>
                        </div>
                    </div>
                </div>
                <script>
                    $('#type').change(function () {
                        if($(this).val()!="sys_banner"){
                            $('#href').val('');
                            $.ajax({url:Feng.ctxPath+"/banner/getItemByType",data:{type:$(this).val()},success:function (data) {
                                    $("#item_id").empty().next().remove();
                                    for (var i = 0; i < data.length; i++) {
                                        var jsonObj = data[i];
                                        $("#item_id").append('<option value="' + jsonObj.id + '">' + jsonObj.name + '</option>');
                                    }
                                    $('#item_id').searchableSelect();
                                    $('#item').show();
                                    $('#url').hide();
                                }})
                        }else{
                            $("#item_id").empty().next().remove();
                            $('#item').hide();
                            $('#url').show();
                        }
                    });
                    $('#type').append('<option value="sys_banner">广告</option>')
                        .append('<option value="sys_classroom">星厨课堂</option>')
                        .val('sys_banner').change();
                    $(function () {
                        var dataSource = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/banner/getTag?menu_id=${menu_id}",
                                    dataType: "json"
                                }
                            }
                        });

                        $("#tagId").kendoMultiSelect({
                            placeholder: "请选择标签",
                            dataTextField: "name",
                            dataValueField: "id",
                            autoBind: false,
                            dataSource: dataSource
                        });
                    });
                </script>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="BannerInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="BannerInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/banner/banner/banner_info.js"></script>
@}
