@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-12">
                    <input id="id" value="${item.id}" type="hidden"/>
                    <input id="old_object_name" type="hidden"/>
                    <#avatar_lijun id="picture" name="背景图" avatarImg="${item.picture}"/>
                    <input id="object_name" name="阿里云OSS删除时用到的key" value="${item.object_name}" type="hidden"/>
                    <#input id="orders" name="排序值" value="${item.orders}" underline="true" placeholder="降序排列,数值越小越靠前"/>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            跳转页面
                        </label>
                        <div class="col-sm-9">
                            <select id="code">
                                <option value="0">星厨俱乐部</option>
                                <option value="1">拜师学艺</option>
                                <option value="2">厨友圈</option>
                                <option value="3">赛事活动</option>
                                <option value="4">宴席预定</option>
                                <option value="5">星厨招聘</option>
                            </select>
                            <script>$('#code').val('${item.code}').change();</script>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            是否启用
                        </label>
                        <div class="col-sm-9">
                            <select id="enable">
                                <option value="0">否</option>
                                <option value="1">是</option>
                            </select>
                            <script>$('#enable').val('${item.enable}').change();</script>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="JumpPageInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="JumpPageInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/jumpPage/jumpPage/jumpPage_info.js"></script>
@}
