<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.ActivityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.Activity">
        <id column="id" property="id" />
        <result column="tag_id" property="tag_id" />
        <result column="title" property="title" />
        <result column="thumb" property="thumb" />
        <result column="description" property="description" />
        <result column="start_time" property="startTime" />
        <!--<result column="end_time" property="endTime" />-->
        <result column="city_id" property="cityId" />
        <result column="source_id" property="sourceId" />
        <result column="uid" property="uid" />
        <result column="publish_ip" property="publishIp" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="object_name" property="object_name" />
        <result column="apply_num" property="apply_num" />
        <result column="is_ok" property="is_ok" />
        <result column="video" property="video" />
        <result column="video_object_name" property="video_object_name" />
        <result column="model" property="model" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tag_id, title, thumb, description, start_time, /*end_time,*/ city_id, source_id, uid, publish_ip, content, create_time, update_time, object_name, apply_num
        ,is_ok ,video ,video_object_name ,model
    </sql>



    <select id="list" resultType="map">
        select * from sys_activity a
        <if test="condition != null and condition != ''">
            where a.title like CONCAT('%',#{condition},'%')
        </if>
        order by create_time ASC,is_ok DESC
    </select>


</mapper>
