@layout("/common/_container.html"){
<script src="${ctxPath}/static/modular/cloumnType/columnType/jquery.searchableSelect.js"></script>
<link href="${ctxPath}/static/modular/cloumnType/columnType/jquery.searchableSelect.css" rel="stylesheet" type="text/css">
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-12">
                    <input id="id" name="报名表id" value="${item.id}" type="hidden"/>
                    <input id="activityId_" name="被报名的活动ID" value="${item.activityId}" type="hidden"/>
                    <input id="userApiId_" name="报名用户ID,逗号分隔" value="${item.userApiId}" type="hidden"/>
                    <#select id="activityId" name="活动"/>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            用户
                        </label>
                        <div class="col-sm-9">
                            <select id="userApiId"></select>
                            <input type="button" value="+" onclick="addUser($(this).parent().find('select').eq(0).val(),$(this).parent().find('select').eq(0).find('option:selected').attr('avatar'),$(this).parent().find('select').eq(0).find('option:selected').attr('phone'),$(this).parent().find('select').eq(0).find('option:selected').attr('name'));" />
                        </div>
                    </div>
                    <div id="userApis">
                    </div>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ActivityApplyInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ActivityApplyInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/systemActivityApply/activityApply/activityApply_info.js"></script>
@}
