@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="自增主键" value="${item.id}" underline="true"/>
                            <#input id="columnId" name="栏目类型ID为招聘的ID" value="${item.columnId}" underline="true"/>
                            <#input id="title" name="招聘名" value="${item.title}" underline="true"/>
                            <#input id="thumb" name="缩略图" value="${item.thumb}" underline="true"/>
                            <#input id="description" name="描述" value="${item.description}" underline="true"/>
                            <#input id="cityId" name="城市ID（0：表示全国）" value="${item.cityId}" underline="true"/>
                            <#input id="address" name="工作详细地址" value="${item.address}" />
                </div>

                <div class="col-sm-6">
                            <#input id="sourceId" name="来源ID（0：官方，1：个人）" value="${item.sourceId}" underline="true"/>
                            <#input id="uid" name="当是官方时为管理员的ID，是个人时，表示用户的ID" value="${item.uid}" underline="true"/>
                            <#input id="publishIp" name="发布IP" value="${item.publishIp}" underline="true"/>
                            <#input id="content" name="内容" value="${item.content}" underline="true"/>
                            <#input id="createTime" name="创建时间" value="${item.createTime}" underline="true"/>
                            <#input id="updatedTime" name="更新时间" value="${item.updatedTime}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="RecruitInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="RecruitInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/recruit/recruit/recruit_info.js"></script>
@}
