@layout("/common/_container.html"){
<script src="${ctxPath}/static/modular/cloumnType/columnType/jquery.searchableSelect.js"></script>
<link href="${ctxPath}/static/modular/cloumnType/columnType/jquery.searchableSelect.css" rel="stylesheet" type="text/css">
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-12" id="noticeInfoForm">
                    <#select id="columnId" name="栏目"></#select>
                    <#input id="title" name="招聘名" underline="true"/>
                    <!--<#input id="thumb" name="缩略图" underline="true"/>-->
                    <#avatar id="thumb" name="缩略图" avatarImg=""/>
                    <#input id="description" name="描述" underline="true"/>
                    <#select id="cityId" name="城市"></#select>
                    <#input id="address" name="工作详细地址" underline="true"/>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">内容</label>
                        <div class="col-sm-11">
                            <div id="editor" class="editorHeight">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="RecruitInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="RecruitInfoDlg.close()"/>
                </div>
            </div>
        </div>
<#input id="sourceId" name="" value="0"  type="hidden"/>
<#input id="content" name="" type="hidden" />
    </div>
</div>

<script type="text/javascript" src="${ctxPath}/static/js/plugins/wangEditor/wangEditor.js"></script>

<script src="${ctxPath}/static/modular/recruit/recruit/recruit_info.js"></script>
@}
