
<!doctype html>
<html lang="zh_cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>星厨资讯-与顶级星厨面对面，中国餐饮的发展之道</title>
    <meta name="keywords" content="星厨资讯">
    <meta name="description" content="星厨资讯">
    <link href="${ctxPath}/static/htmlDirectory/css/reset.css" rel="stylesheet">
    <link href="${ctxPath}/static/htmlDirectory/css/common.css" rel="stylesheet">
    <script src="${ctxPath}/static/htmlDirectory/js/jquery1.9.1.js"></script>
</head>
<body>
    <div class="newsDetail activityDetail">
        <div class="topBar ab">
            <span class="icon leftArrow"></span>
            <!-- 活动赛事 -->
            <span class="icon icon-more"></span>
        </div>
        <div class="imgBox" id="image">
            <img src="https://cheshi654321.oss-cn-beijing.aliyuncs.com/data/1538899271804.jpg" alt="">
        </div>

        <div class="basicInfo wrapper">
            <div class="box1">
                <div class="avatarBox">
                    <img src="https://cheshi654321.oss-cn-beijing.aliyuncs.com/data/1538899271804.jpg" alt="">
                </div>
                <div class="center">
                    <h4 >天下星厨</h4>
                    <p>星厨专访</p>
                </div>
                <span class="right label">
                    <span>官方</span>
                </span>
            </div>
            <h1 class="title">与顶级星厨面对面，中国餐饮的发展之道</h1>
            <div class="buiBox">
                <span>3小时前</span>
                <div class="right clearfix">
                    <div class="view"><span class="icon icon-view"></span>1824</div>
                    <div class="zan"><span class="icon icon-zan"></span>40</div>
                    <div class="comment"><span class="icon icon-comment"></span>16</div>
                </div>
            </div>
        </div>
        <div class="txtBox wrapper">
            <p class="txt">中国的餐饮行业是朝阳行业中蓬勃发展的一种传统产业。近年来，我国的餐饮业发展非常迅速，餐饮业营业额连续20多年实现两位数高速增长，预计未来将保持18%以上速度发展，行业发展前景看好，可以说我国正迎来一个餐饮业大发展的时期，市场潜力巨大，前景非常广阔，长期发展趋势良好。</p>
            <div class="imgBox">
                <img src="https://cheshi654321.oss-cn-beijing.aliyuncs.com/data/1538899271804.jpg" alt="">
            </div>
            <p class="txt">中国的餐饮行业是朝阳行业中蓬勃发展的一种传统产业。近年来，我国的餐饮业发展非常迅速，餐饮业营业额连续20多年实现两位数高速增长，预计未来将保持18%以上速度发展，行业发展前景看好，可以说我国正迎来一个餐饮业大发展的时期，市场潜力巨大，前景非常广阔，长期发展趋势良好。</p>

        </div>
    </div>
</body>
<script>

</script>
</html>
