@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="userId" name="用户" underline="true"/>
                            <#input id="apiToken" name="密钥" underline="true"/>
                            <#input id="credits" name="积分" underline="true"/>
                            <#input id="money" name="钱" underline="true"/>
                            <#input id="loginIp" name="登陆IP" underline="true"/>
                </div>

                <div class="col-sm-6">
                            <#input id="realName" name="实名" underline="true"/>
                            <#input id="idCard" name="身份证" underline="true"/>
                            <#input id="cityId" name="城市" underline="true"/>
                            <#input id="joinClub" name="俱乐部" underline="true"/>
                            <#input id="appointment" name="预约" underline="true"/>
                            <#input id="enlightening" name="收徒" underline="true"/>

                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="UserInfoInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="UserInfoInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/userInfo/userInfo/userInfo_info.js"></script>
@}
