@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
            <input type="hidden" id="id" value="${item.id}">
            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="userId" name="用户" value="${item.userId}" underline="true"/>
                            <#input id="credits" name="积分" value="${item.credits}" underline="true"/>
                            <#input id="money" name="钱" value="${item.money}" underline="true"/>
                            <#input id="loginIp" name="登陆IP" value="${item.loginIp}" underline="true"/>
                            <#input id="createTime" name="创建时间" value="${item.createTime}" underline="true" />
                            <#input id="appointment" name="预约" value="${item.appointment}" />
                </div>

                <div class="col-sm-6">
                            <#input id="updateTime" name="更新时间" value="${item.updateTime}"  underline="true"/>
                            <#input id="realName" name="实名" value="${item.realName}" underline="true"/>
                            <#input id="idCard" name="身份证" value="${item.idCard}" underline="true"/>
                            <#input id="cityId" name="城市" value="${item.cityId}" underline="true"/>
                            <#input id="joinClub" name="俱乐部" value="${item.joinClub}" underline="true"/>
                            <#input id="enlightening" name="收徒" value="${item.enlightening}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="UserInfoInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="UserInfoInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/userInfo/userInfo/userInfo_info.js"></script>
@}
