@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">

                <div class="row">
                            <#select id="parentId" name="父级栏目" underline="true"></#select>
                            <#input id="orders" name="排序"/>
                            <#input id="name" name="栏目类型名" underline="true"/>
            </div>

            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ColumnTypeInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ColumnTypeInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>

<#input id="createTime" name="" underline="true" type="hidden"/>
<#input id="updateTime" name="" underline="true" type="hidden"/>
<#input id="id" name="" underline="true" type="hidden"/>
<#input id="parentId_" name="" underline="true" type="hidden"/>
</div>
<script src="${ctxPath}/static/modular/cloumnType/columnType/columnType_info.js"></script>
@}
