@layout("/common/_container.html"){
<script src="${ctxPath}/static/modular/cloumnType/columnType/jquery.searchableSelect.js"></script>
<link href="${ctxPath}/static/modular/cloumnType/columnType/jquery.searchableSelect.css" rel="stylesheet" type="text/css">
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-12">
                    <input id="id" type="hidden"/>
                    <input id="cityId_" name="城市ID(0:全国)" type="hidden"/>
                    <input id="userApiId_" name="用户ID(用逗号隔开,顺序很重要)" type="hidden"/>
                    <#select id="cityId" name="城市"/>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            厨师
                        </label>
                        <div class="col-sm-9">
                            <select id="userApiId"></select>
                            <input type="button" value="+" onclick="addUser($(this).parent().find('select').eq(0).val(),$(this).parent().find('select').eq(0).find('option:selected').attr('avatar'),$(this).parent().find('select').eq(0).find('option:selected').attr('phone'),$(this).parent().find('select').eq(0).find('option:selected').attr('name'));" />
                        </div>
                    </div>
                    <div id="userApis">
                    </div>
                    <div style="clear: both;"></div>
                    <p style="display: inline-table;color: red;">↑拖动排序</p>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="IndexUpGroupUserInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="IndexUpGroupUserInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/indexUpGroupUser/indexUpGroupUser/indexUpGroupUser_info.js"></script>
@}
