@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
            <input id="id" name="主键ID" value="${item.id}" type="hidden"/>
            <div class="row">
                <div class="col-sm-6 b-r">

                            <#select id="resumeId" name="简历" underline="true">
                            </#select>
                            <#input id="company" name="公司部门" value="${item.company}" underline="true"/>

                            <#input id="startTime" name="任职时间" value="${item.startTime}" />
                </div>

                <div class="col-sm-6">
                            <#input id="positionName" name="职位" value="${item.positionName}" underline="true"/>
                            <#input id="remark" name="备注" value="${item.remark}" underline="true"/>
                            <#input id="endTime" name="结束时间" value="${item.endTime}" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ResumeLiveInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ResumeLiveInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/resumeLive/resumeLive/resumeLive_info.js"></script>
<script>
    $(document).ready(function () {
      $("#resumeId").val(${item.resumeId});
    });
</script>
@}
