@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="主键" underline="true"/>
                            <#input id="roleId" name="角色ID" underline="true"/>
                            <#input id="userId" name="用户ID"/>
                </div>

                <div class="col-sm-6">
                            <#input id="worksId" name="作品ID" underline="true"/>
                            <#input id="createdTime" name="创建时间" underline="true"/>
                            <#input id="updatedTime" name="结束时间" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="UserWorkInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="UserWorkInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/userWork/userWork/userWork_info.js"></script>
@}
