@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
                      <input id="id" name="主键ID" value="${item.id}" type="hidden"/>

                      <input id="images" name="图集Ids" value="${item.images}" type="hidden"/>

                      <input id="video" name="视频Ids" value="${item.video}" type="hidden"/>

                      <input id="practice" name="做法" value="${item.practice}" type="hidden"/>



            <div id="example" role="application" style="margin-bottom: 3%">
                <div class="demo-section k-content">
                    <h2>请选择活动标签</h2>
                    <select id="tagId" multiple="multiple" data-placeholder="请选择活动标签">
                    </select>


                    <!--<button class="k-button" id="get">Send Invitation</button>-->
                </div>

                <style>
                    .demo-section label {
                        display: block;
                        margin: 15px 0 5px 0;
                    }
                    #get {
                        float: right;
                        margin: 25px auto 0;
                    }
                </style>
            </div>

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="name" name="作品名称 " value="${item.name}" underline="true"/>
                    <#select id="status" name="预约" underline="true">
                    <option value="0">未审查</option>
                    <option value="1">通过</option>
                    <option value="2">拒绝</option>
                </#select>
                            <#input id="updateTime" name="更新时间" value="${item.updateTime}" readonly="readonly" underline="true"/>
                              <#button btnCss="info" name="添加主料输入框"   icon="fa-check" clickFun="goAdd(1)"/>
                    <div id='oneleftbuttons'>
                    </div>
                    <#button btnCss="info" name="添加主料输入框"  icon="fa-check" clickFun="goAdd(2)"/>
                    <div id='twoleftbuttons'>
                    </div>
                    <#button btnCss="info" name="添加主料输入框"  icon="fa-check" clickFun="goAdd(3)"/>
                    <div id='threeleftbuttons'>
                    </div>
                </div>

                <div class="col-sm-6">
                    <#select id="userId" name="用户名称" underline="true">
                </#select>

            <#select id="columnId" name="栏目类型" readonly="readonly" underline="true">
            </#select>
                            <!--<#input id="practice" name="做法 " value="${item.practice}" underline="true"/>-->
                            <#input id="remark" name="备注" value="${item.remark}" underline="true"/>
                            <!--<#input id="createTime" name="创建时间" value="${item.createTime}"   readonly="readonly"  underline="true"/>-->
                    <#button btnCss="danger" name="取消添加主料输入框" icon="fa-eraser" clickFun="goDel(1)"/>
                    <div id='onerightbuttons'>
                    </div>
                    <#button btnCss="danger" name="取消添加主料输入框" icon="fa-eraser" clickFun="goDel(2)"/>
                    <div id='tworightbuttons'>
                    </div>
                    <#button btnCss="danger" name="取消添加主料输入框" icon="fa-eraser" clickFun="goDel(3)"/>
                    <div id='threerightbuttons'>
                    </div>

                </div>
            </div>

        <fieldset style="margin-top: 3%">
            <legend>做法详情</legend>
            <div class="form-group">
                <!--<label class="col-sm-1 control-label">内容</label>-->
                <div class="col-sm-12">
                    <div id="editor" class="editorHeight">
                    </div>
                </div>
            </div>
            </fieldset>


            <div>
                <fieldset  style="margin-top: 3%">
                    <legend>图集上传</legend>
                    <div class="putimg"	>
                        <input id="reportFile" name="reportFile" multiple type="file" data-show-caption="true">
                    </div>
                </fieldset>
            </div>


            <div>
                <fieldset  style="margin-top: 3%">
                    <legend>视频上传</legend>
                    <div class="putimg"	>
                        <input id="videoFile" name="videoFile" multiple type="file" data-show-caption="true">
                    </div>
                </fieldset>
            </div>

            <div id="hyfVideo">
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">

                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="WorksInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="WorksInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="${ctxPath}/static/js/plugins/wangEditor/wangEditor.js"></script>
<script src="${ctxPath}/static/modular/works/works/works_info.js"></script>
<script>


    $(document).ready(function () {
        multArrays =${multArr} ;
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/tag/getAllTag",
                    dataType: "json"
                }
            }
        });

        $("#tagId").kendoMultiSelect({
            placeholder: "请选择活动标签",
            dataTextField: "name",
            dataValueField: "id",
            autoBind: true,
            dataSource: dataSource,
            value: multArrays
        });


             $('#userId').val(${item.userId});
             $('#status').val(${item.status});
             $('#columnId').val(${item.columnId})

    });
    /*定义回显数组*/

         oneArr =${item.mainIngredient}
         twoArr = ${item.supplementaryMaterial}
         threeArr = ${item.seasoning}
         videoArray = ${videoArray}
    /*定义回显框*/
          onerightbuttons = $('#onerightbuttons');
          oneleftbuttons =$('#oneleftbuttons');
          tworightbuttons = $('#tworightbuttons');
          twoleftbuttons =$('#twoleftbuttons');
          threerightbuttons = $('#threerightbuttons');
          threeleftbuttons  =$('#threeleftbuttons');
          hyfVideoFile =$('#hyfVideo');
    /*页面初始化方法*/
    $(document).ready(function () {
        oneArr.forEach(function (v) {
           oneleftbuttons.append("<div class='col-sm-12'> <input  class='form-control main_ingredient'  value='"+v.key+ "' type='text' underline='true'/></div> <div class='col-sm-12'> </div>");
           onerightbuttons.append("<div class='col-sm-12'> <input   class='form-control main_ingredient' value='"+v.value+ "'   type='text' underline='true'/></div> <div class='col-sm-12'> </div>");
       });
        twoArr.forEach(function (v) {
            twoleftbuttons.append("<div class='col-sm-12'> <input  class='form-control supplementary_material'  value='"+v.key+ "' type='text' underline='true'/></div> <div class='col-sm-12'> </div>");
            tworightbuttons.append("<div class='col-sm-12'> <input   class='form-control supplementary_material' value='"+v.value+ "'   type='text' underline='true'/></div> <div class='col-sm-12'> </div>");
        });
        threeArr.forEach(function (v) {
            threeleftbuttons.append("<div class='col-sm-12'> <input  class='form-control seasoning'  value='"+v.key+ "' type='text' underline='true'/></div> <div class='col-sm-12'> </div>");
            threerightbuttons.append("<div class='col-sm-12'> <input   class='form-control seasoning' value='"+v.value+ "'   type='text' underline='true'/></div> <div class='col-sm-12'> </div>");
        });
        /*视频回显*/
        videoArray.forEach(function (video) {
            hyfVideoFile.append("<div><fieldset><legend>视频回显</legend>   <div> <video src='"+video.key+ "' controls='controls'> </video>  </div> </fieldset> </div> <div class='col-sm-12'><button type='button' value='heyiafn'></button></div>")
        })

    });

    function goAdd(v){
        if(v=='1'){
            addInputs('onerightbuttons','oneleftbuttons','main_ingredient')
        }
        if(v=='2'){
            addInputs('tworightbuttons','twoleftbuttons','supplementary_material')
        }
        if(v=='3'){
            addInputs('threerightbuttons','threeleftbuttons','seasoning')
        }
    }
    function addInputs(rightInputId,leftInputId,inputClass) {
        var rightbuttons = $('#'+rightInputId);
        var leftbuttons =$('#'+leftInputId);
        rightbuttons.append("<div class='col-sm-12'> <input  class='form-control "+inputClass+ "' type='text' underline='true'/></div> <div class='col-sm-12'> </div>");
        leftbuttons.append("<div class='col-sm-12'> <input   class='form-control "+inputClass+ "'   type='text' underline='true'/></div> <div class='col-sm-12'> </div>");
    }
    function goDel(v){
        if(v=='1'){
            deleteInputs('onerightbuttons','oneleftbuttons','main_ingredient')
        }
        if(v=='2'){
            deleteInputs('tworightbuttons','twoleftbuttons','supplementary_material')
        }
        if(v=='3'){
            deleteInputs('threerightbuttons','threeleftbuttons','seasoning')
        }
        // deleteInputs('rightbuttons','leftbuttons','main_ingredient')
    }
    function  deleteInputs(rightInputId,leftInputId,inputClass) {
        var rightinputs =$("#"+rightInputId+" ."+inputClass);
        if(rightinputs.length>0){
            rightinputs[rightinputs.length-1].remove();
        }
        var leftinput =$("#"+leftInputId+" ."+inputClass);
        if(leftinput.length>0){
            leftinput[leftinput.length-1].remove();
        }
    }
/*反显文件*/
    var baseId = $("#images").val();
    var imageId = '';//上传成功的图片ID
    //参数1:控件id、参数2:上传地址
    var FileInput = function () {
        var oFile = new Object();
        //初始化fileinput控件（第一次初始化）
        oFile.Init = function (ctrlName, uploadUrl, imgArray, imgArrayConfig) {
            var control = $('#' + ctrlName);
            //初始化上传控件的样式
            control.fileinput({
                language: 'zh',                                         //设置语言
                uploadUrl: uploadUrl,                                   //上传的地址
                overwriteInitial: false, 								//让预览图片和新选择的图片在同一页面进行操作
                minFileCount: 1,										//最小上传数
                maxFileCount: 10,										//最大上传数
                allowedFileExtensions: ['jpg', 'gif', 'jpeg', 'png', 'pdf'],    //接收的文件后缀
                showUpload: false,                                      //是否显示上传按钮
                showRemove: false,										//是否显示移除按钮
                showCaption: true,                                     //是否显示标题
                browseClass: "btn btn-primary",                         //按钮样式
                initialPreviewAsData: true,             //
                initialPreview: imgArray,				//预览图片数组
                // initialPreview: [ "https://cheshi654321.oss-cn-beijing.aliyuncs.com/sunshineFlowers","  https://cheshi654321.oss-cn-beijing.aliyuncs.com/sunshineFlowers"],
                initialPreviewConfig: imgArrayConfig,//预览信息 配置   删除url以及参数配置
                enctype: 'multipart/form-data',
                previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                uploadExtraData: function (previewId, index) {
                    return {'goodsTypeId': baseId};
                }
            });
            //导入文件上传完成之后的事件
            $("#reportFile").on("fileuploaded", function (event, data, previewId, index) {
                //	toastr.success('上传成功！');
            });
            //删除预览图片事件
            $('#reportFile').on('filepredelete', function (event, key) {
                //$("#icon").val(imageId.replace(key,""));//去掉被删除图片
            });
        };
        return oFile;
    };
    var picIds;
    //初始化fileinput
    var createFileInput = function (baseId) {
        $.ajax({
            type: "get",
            url: "/works/img?baseId=" + baseId,
            dataType: 'json',
            async: false,//设置为同步操作就可以给全局变量赋值成功
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer "
                    + window.localStorage.getItem("token"));
            },
            success: function (data) {
                picIds = data.data;
            }
        });
        var imgArray = [];//预览图片
        var imgArrayConfig = [];//图片对应config数据
        if (picIds != null && picIds != undefined && picIds != '') {
            imgArray = new Array();
            imgArrayConfig = new Array();
            var picId = picIds.split(',');
            for (var i = 0; i <= picId.length; i++) {
                if (picId[i] != null && picId[i] != '') {//遍历图片id
                    imgArray.push(picId[i] );//封装预览图片
                    // imgArray.push("http://cheshi654321.oss-cn-beijing.aliyuncs.com/wocao");//封装预览图片
                    //封装config
                    var config = new Object();
                    config.caption = picId[i] + ".jpg";
                    config.url = '/img/imgDeleteMul';//删除图片接口
                    config.key = picId[i];//设置删除图片时参数
                    // config.type='video';
                    imgArrayConfig.push(config);
                }
            }
        }
        var oFileInput = new FileInput();
        //参数1:控件id、参数2:上传地址  3.初始化展示图片数组  4.图片预览参数、删除url配置
        oFileInput.Init("reportFile", "/img/imgUploadMul", imgArray, imgArrayConfig);
    }
    //销毁fileinput
    var destoryFileInput = function () {
        $("#reportFile").fileinput('destroy');
        createFileInput(baseId)
    };

    destoryFileInput();

    /*初始化视频上传*/


    //参数1:控件id、参数2:上传地址
    var heyifanFileInput = function () {

        var oFile = new Object();
        //初始化fileinput控件（第一次初始化）
        oFile.heyifanInit = function (ctrlName, uploadUrl, uploadId) {
            var control = $('#' + ctrlName);
            control.fileinput({
                language: 'zh',                                         //设置语言
                uploadUrl: uploadUrl,                                   //上传的地址
                overwriteInitial: false, 								//让预览图片和新选择的图片在同一页面进行操作
                minFileCount: 1,										//最小上传数
                maxFileCount: 10,										//最大上传数
                allowedFileExtensions: ['jpg', 'gif', 'jpeg', 'png', 'pdf','mp4'],    //接收的文件后缀
                showUpload: false,                                      //是否显示上传按钮
                showRemove: false,										//是否显示移除按钮
                showCaption: true,                                     //是否显示标题
                browseClass: "btn btn-primary",                         //按钮样式
                initialPreviewAsData: true,             //
                enctype: 'multipart/form-data',
                previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                uploadExtraData: function (previewId, index) {
                    return {'goodsTypeId': uploadId};
                }
            });
            //导入文件上传完成之后的事件
            $("#ctrlName").on("fileuploaded", function (event, data, previewId, index) {
                toastr.success('上传成功!');
            });
            //删除预览图片事件
            $('#ctrlName').on('filepredelete', function (event, key) {
                toastr.success('删除成功!');
            });
        };
        return oFile;
    };

    //初始化fileinput
    var heyifanCreateFileInput = function () {
        var FileInput = new heyifanFileInput();
        //参数1:控件id、参数2:上传地址  3.初始化展示图片数组  4.图片预览参数、删除url配置
        var videoId = $('#video').val();
        FileInput.heyifanInit("videoFile", "/img/imgUploadMul", videoId);
    };
    heyifanCreateFileInput();


</script>
@}
