@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
            <input value="" type="hidden" id="id">
            <input id="images" name=""  type="hidden" />
            <input id="video" name=""  type="hidden" />
            <input id="practice" name="" type="hidden" underline="true"/>


            <div id="example" role="application">
                <div class="demo-section k-content">
                    <h2>何一凡</h2>
                    <label for="required">Required</label>
                    <select id="required" multiple="multiple" data-placeholder="Select attendees...">
                    </select>
                    <label for="optional">Optional</label>
                    <select id="optional" multiple="multiple" data-placeholder="Select attendees...">
                    </select>
                    <button class="k-button" id="get">Send Invitation</button>
                </div>
                <style>
                    .demo-section label {
                        display: block;
                        margin: 15px 0 5px 0;
                    }
                    #get {
                        float: right;
                        margin: 25px auto 0;
                    }
                </style>
                <script>
                    $(document).ready(function() {
                        // create MultiSelect from select HTML element
                        var required = $("#required").kendoMultiSelect().data("kendoMultiSelect");
                        var optional = $("#optional").kendoMultiSelect({
                            autoClose: false
                        }).data("kendoMultiSelect");

                        $("#get").click(function() {
                            alert("Attendees:\n\nRequired: " + required.value() + "\nOptional: " + optional.value());
                        });
                    });
                </script>
            </div>


            <div class="row">
                <div class="col-sm-6 b-r" >



                            <#select id="userId" name="用户" underline="true">
                            </#select>
                            <#input id="name" name="作品名称 " value="" underline="true"/>
                            <#select id="columnId" name="栏目类型" readonly="readonly"  underline="true">
                            </#select>

                    <#button btnCss="info" name="添加主料输入框"  icon="fa-check" clickFun="goAdd(1)"/>
                    <div id='oneleftbuttons'>
                        <div class='col-sm-12'>  <input  class='form-control main_ingredient'  placeholder="请添加主料 如肉"  type='text' underline='true'/></div> <div class='col-sm-12'> </div>
                    </div>
                    <#button btnCss="info" name="添加辅料"  icon="fa-check" clickFun="goAdd(2)"/>
                    <div id='twoleftbuttons'>
                        <div class='col-sm-12'> <input  class='form-control supplementary_material'  placeholder="请添加辅料 如肉"   type='text' underline='true'/></div> <div class='col-sm-12'> </div>
                    </div>
                    <#button btnCss="info" name="添加调料"  icon="fa-check" clickFun="goAdd(3)"/>
                    <div id='threeleftbuttons'>
                        <div class='col-sm-12'> <input  class='form-control seasoning'  placeholder="请添加配料 如肉"   type='text' underline='true'/></div> <div class='col-sm-12' underline="true"> </div>
                    </div>

                    <!--<#select id="tagId" name="栏目类型" type="radio" readonly="readonly"  underline="true">-->
                    <!--</#select>-->



        <!--<#dictSelector id="sex" name ="sex" code="sys_sex"  readonly="readonly" label="性别" type="checkbox" underline="true"  />-->


                     </div>


                <div class="col-sm-6">

                            <#input id="remark" name="备注" underline="true"/>
                            <#select id="status" name="预约" underline="true">
                                <option value="0">未审查</option>
                                <option value="1">通过</option>
                                <option value="2">拒绝</option>
                            </#select>
                            <#input id="updateTime" name="更新时间" readonly="readonly" underline="true"/>
                    <#button btnCss="danger" name="取消添加主料输入框" icon="fa-eraser" clickFun="goDel(1)"/>
                    <div id='onerightbuttons'>
                        <div class='col-sm-12'> <input  class='form-control main_ingredient'    placeholder="请添加主料单位 如一斤" type='text' underline='true'/></div> <div class='col-sm-12'> </div>
                    </div>
                    <#button btnCss="danger" name="取消添加辅料" icon="fa-eraser" clickFun="goDel(2)"/>
                    <div id='tworightbuttons'>
                        <div class='col-sm-12'> <input  class='form-control supplementary_material'   placeholder="请添加辅料单位 如一斤"   type='text' underline='true'/></div> <div class='col-sm-12'> </div>
                    </div>
                    <#button btnCss="danger" name="取消添加调料" icon="fa-eraser" clickFun="goDel(3)"/>
                    <div id='threerightbuttons'>
                        <div class='col-sm-12'> <input  class='form-control seasoning'      placeholder="请添加配料单位 如一斤"  type='text' underline='true'/></div> <div class='col-sm-12'> </div>
                    </div>

                </div>

            </div>
                    <fieldset style="margin-top: 3%">
                        <legend>做法详情</legend>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="editor" class="editorHeight">
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div>
                        <fieldset  style="margin-top: 3%">
                            <legend>图集上传</legend>
                            <div class="putimg"	>
                                <input id="imageFile" name="imageFile" multiple type="file" data-show-caption="true">
                            </div>
                        </fieldset>
                    </div>

                <div>
                    <fieldset  style="margin-top: 3%">
                        <legend>视频上传</legend>
                        <div class="putimg"	>
                            <input id="videoFile" name="videoFile" multiple type="file" data-show-caption="true">
                        </div>
                    </fieldset>
                </div>

    <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="WorksInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="WorksInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="//unpkg.com/wangeditor/release/wangEditor.min.js"> </script>
<script src="${ctxPath}/static/modular/works/works/works_info.js"></script>
<script>
    /*定义动态添加方法*/
    function goAdd(v){
        if(v=='1'){
            addInputs('onerightbuttons','oneleftbuttons','main_ingredient')
        }
        if(v=='2'){
            addInputs('tworightbuttons','twoleftbuttons','supplementary_material')
        }
        if(v=='3'){
            addInputs('threerightbuttons','threeleftbuttons','seasoning')
        }
    }
   function addInputs(rightInputId,leftInputId,inputClass) {
       var rightbuttons = $('#'+rightInputId);
       var leftbuttons =$('#'+leftInputId);
       leftbuttons.append("<div class='col-sm-12'> <input  class='form-control "+inputClass+ "' type='text' underline='true'/></div> <div class='col-sm-12'> </div>");
       rightbuttons.append("<div class='col-sm-12'> <input   class='form-control "+inputClass+ "'   type='text' underline='true'/></div> <div class='col-sm-12'> </div>");
        }
    /*定义动态删除方法*/
    function goDel(v){
        if(v=='1'){
            deleteInputs('onerightbuttons','oneleftbuttons','main_ingredient')
        }
        if(v=='2'){
            deleteInputs('tworightbuttons','twoleftbuttons','supplementary_material')
        }
        if(v=='3'){
            deleteInputs('threerightbuttons','threeleftbuttons','seasoning')
        }
        // deleteInputs('rightbuttons','leftbuttons','main_ingredient')
    }
    function  deleteInputs(rightInputId,leftInputId,inputClass) {
        var rightinputs =$("#"+rightInputId+" ."+inputClass);
        if(rightinputs.length>0){
            rightinputs[rightinputs.length-1].remove();
        }
        var leftinput =$("#"+leftInputId+" ."+inputClass);
        if(leftinput.length>0){
            leftinput[leftinput.length-1].remove();
         }
        }

/* 封装bootstrap fileInput 多文本框文件上传方法 */
    function randomPassword() {
        var seed = new Array(
            '11', '22', '35', '48', '58', '67', '79', '88', '98', '31', '15', '52', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'
        );//数组
        seedlength = seed.length;//数组长度
        var createPassword = ''
        for (i = 0; i < 15; i++) {
            j = Math.floor(Math.random() * seedlength);
            createPassword += seed[j]
        }
        return createPassword;
    }

    //参数1:控件id、参数2:上传地址
    var FileInput = function () {

        var oFile = new Object();
        //初始化fileinput控件（第一次初始化）
        oFile.Init = function (ctrlName, uploadUrl, uploadId) {
            var control = $('#' + ctrlName);
            control.fileinput({
                language: 'zh',                                         //设置语言
                uploadUrl: uploadUrl,                                   //上传的地址
                overwriteInitial: false, 								//让预览图片和新选择的图片在同一页面进行操作
                minFileCount: 1,										//最小上传数
                maxFileCount: 10,										//最大上传数
                allowedFileExtensions: ['jpg', 'gif', 'jpeg', 'png', 'pdf','mp4'],    //接收的文件后缀
                showUpload: false,                                      //是否显示上传按钮
                showRemove: false,										//是否显示移除按钮
                showCaption: true,                                     //是否显示标题
                browseClass: "btn btn-primary",                         //按钮样式
                initialPreviewAsData: true,             //
                enctype: 'multipart/form-data',
                previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                uploadExtraData: function (previewId, index) {
                    return {'goodsTypeId': uploadId};
                }
            });
            //导入文件上传完成之后的事件
            $("#ctrlName").on("fileuploaded", function (event, data, previewId, index) {
                toastr.success('上传成功!');
            });
            //删除预览图片事件
            $('#ctrlName').on('filepredelete', function (event, key) {
                toastr.success('删除成功!');
            });
        };
        return oFile;
    };

    //初始化fileinput
    var createFileInput = function () {
        var oFileInput = new FileInput();
        //参数1:控件id、参数2:上传地址  3.初始化展示图片数组  4.图片预览参数、删除url配置
        var imagesId = randomPassword();
        var videoId = randomPassword();
        $('#images').val(imagesId);
        $('#video').val(videoId);
        oFileInput.Init("imageFile", "/img/imgUploadMul", imagesId);
        oFileInput.Init("videoFile", "/img/imgUploadMul", videoId);
    };
    createFileInput();




    /**
     * 动态获取所有标签
     */
    var ajax = new $ax(Feng.ctxPath + "/tag/getAllTag", function (data) {
        for (var i = 0; i < data.length; i++) {
            var jsonObj = data[i];
            $("#required").append('<option value="' + jsonObj.id + '">' + jsonObj.name + '</option>');
        }

    }, function (data) {

    });
    ajax.start();


</script>
@}
