@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
            <input value="" type="hidden" id="id">
            <div class="row">
                <div class="col-sm-6 b-r" >
                            <#select id="userId" name="用户" underline="true">
                            </#select>
                            <#input id="columnId" name="栏目类型" underline="true"/>
                            <#select id="type" name="类型" underline="true">
                            <option value="0">图文</option>
                            <option value="1">视频</option>
                            </#select>
                            <!--<#input id="images" name="资源" underline="true"/>-->
                            <#input id="createTime" name="创建时间"  readonly="readonly" underline="true"/>
                    <#button btnCss="info" name="添加主料输入框"  icon="fa-check" clickFun="goAdd(1)"/>
                    <div id='oneleftbuttons'>
                        <div class='col-sm-12'> <input  class='form-control main_ingredient'   type='text' underline='true'/></div> <div class='col-sm-12'> </div>
                    </div>
                    <#button btnCss="info" name="添加辅料"  icon="fa-check" clickFun="goAdd(2)"/>
                    <div id='twoleftbuttons'>
                        <div class='col-sm-12'> <input  class='form-control supplementary_material'   type='text' underline='true'/></div> <div class='col-sm-12'> </div>
                    </div>
                    <#button btnCss="info" name="添加调料"  icon="fa-check" clickFun="goAdd(3)"/>
                    <div id='threeleftbuttons'>
                        <div class='col-sm-12'> <input  class='form-control seasoning'   type='text' underline='true'/></div> <div class='col-sm-12' underline="true"> </div>
                    </div>
                     </div>

                <div class="col-sm-6">
                            <#input id="practice" name="做法" underline="true"/>
                            <#input id="remark" name="备注" underline="true"/>
                            <!--<#input id="status" name="加入状态" underline="true"/>-->
                            <#select id="status" name="预约" underline="true">
                                <option value="0">未审查</option>
                                <option value="1">通过</option>
                                <option value="2">拒绝</option>
                            </#select>
                            <#input id="updateTime" name="更新时间" readonly="readonly" underline="true"/>
                    <#button btnCss="danger" name="取消添加主料输入框" icon="fa-eraser" clickFun="goDel(1)"/>
                    <div id='onerightbuttons'>
                        <div class='col-sm-12'> <input  class='form-control main_ingredient'   type='text' underline='true'/></div> <div class='col-sm-12'> </div>
                    </div>
                    <#button btnCss="danger" name="取消添加辅料" icon="fa-eraser" clickFun="goDel(2)"/>
                    <div id='tworightbuttons'>
                        <div class='col-sm-12'> <input  class='form-control supplementary_material'   type='text' underline='true'/></div> <div class='col-sm-12'> </div>
                    </div>
                    <#button btnCss="danger" name="取消添加调料" icon="fa-eraser" clickFun="goDel(3)"/>
                    <div id='threerightbuttons'>
                        <div class='col-sm-12'> <input  class='form-control seasoning'   type='text' underline='true'/></div> <div class='col-sm-12'> </div>
                    </div>

                </div>
            </div>

                    <div>
                        <fieldset  style="margin-top: 3%">
                            <legend>资料上传</legend>
                            <div class="putimg"	>
                                <input id="reportFile" name="reportFile" multiple type="file" data-show-caption="true">
                            </div>
                        </fieldset>
                    </div>

    <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="WorksInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="WorksInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/works/works/works_info.js"></script>
<script>
    /*定义动态添加方法*/
    function goAdd(v){
        if(v=='1'){
            addInputs('onerightbuttons','oneleftbuttons','main_ingredient')
        }
        if(v=='2'){
            addInputs('tworightbuttons','twoleftbuttons','supplementary_material')
        }
        if(v=='3'){
            addInputs('threerightbuttons','threeleftbuttons','seasoning')
        }
    }
   function addInputs(rightInputId,leftInputId,inputClass) {
       var rightbuttons = $('#'+rightInputId);
       var leftbuttons =$('#'+leftInputId);
       leftbuttons.append("<div class='col-sm-12'> <input  class='form-control "+inputClass+ "' type='text' underline='true'/></div> <div class='col-sm-12'> </div>");
       rightbuttons.append("<div class='col-sm-12'> <input   class='form-control "+inputClass+ "'   type='text' underline='true'/></div> <div class='col-sm-12'> </div>");
        }
    /*定义动态删除方法*/
    function goDel(v){
        if(v=='1'){
            deleteInputs('onerightbuttons','oneleftbuttons','main_ingredient')
        }
        if(v=='2'){
            deleteInputs('tworightbuttons','twoleftbuttons','supplementary_material')
        }
        if(v=='3'){
            deleteInputs('threerightbuttons','threeleftbuttons','seasoning')
        }
        // deleteInputs('rightbuttons','leftbuttons','main_ingredient')
    }
    function  deleteInputs(rightInputId,leftInputId,inputClass) {
        var rightinputs =$("#"+rightInputId+" ."+inputClass);
        if(rightinputs.length>0){
            rightinputs[rightinputs.length-1].remove();
        }
        var leftinput =$("#"+leftInputId+" ."+inputClass);
        if(leftinput.length>0){
            leftinput[leftinput.length-1].remove();
         }
        }

/*定义文件上传的baseId*/
    var baseId = $("#baseId").val();
    var imageId = '';//上传成功的图片ID
    //参数1:控件id、参数2:上传地址
    var FileInput = function () {
        var oFile = new Object();
        //初始化fileinput控件（第一次初始化）
        oFile.Init = function (ctrlName, uploadUrl, imgArray, imgArrayConfig) {
            var control = $('#' + ctrlName);
            //初始化上传控件的样式
            control.fileinput({
                language: 'zh',                                         //设置语言
                uploadUrl: uploadUrl,                                   //上传的地址
                overwriteInitial: false, 								//让预览图片和新选择的图片在同一页面进行操作
                minFileCount: 1,										//最小上传数
                maxFileCount: 10,										//最大上传数
                allowedFileExtensions: ['jpg', 'gif', 'jpeg', 'png', 'pdf'],    //接收的文件后缀
                showUpload: false,                                      //是否显示上传按钮
                showRemove: false,										//是否显示移除按钮
                showCaption: true,                                     //是否显示标题
                browseClass: "btn btn-primary",                         //按钮样式
                initialPreviewAsData: true,             //
                initialPreview: imgArray,				//预览图片数组
                initialPreviewConfig: imgArrayConfig,//预览信息 配置   删除url以及参数配置
                enctype: 'multipart/form-data',
                previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                uploadExtraData: function (previewId, index) {
                    return {'goodsTypeId': baseId};
                }
            });
            //导入文件上传完成之后的事件
            $("#reportFile").on("fileuploaded", function (event, data, previewId, index) {
                //	toastr.success('上传成功！');
            });
            //删除预览图片事件
            $('#reportFile').on('filepredelete', function (event, key) {
                //$("#icon").val(imageId.replace(key,""));//去掉被删除图片
            });
        };
        return oFile;
    };
    var picIds;
    //初始化fileinput
    var createFileInput = function (baseId) {
        $.ajax({
            type: "get",
            url: "/productCharacter/img?baseId=" + baseId,
            dataType: 'json',
            async: false,//设置为同步操作就可以给全局变量赋值成功
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer "
                    + window.localStorage.getItem("token"));
            },
            success: function (data) {
                picIds = data.data;
            }
        });
        var imgArray = [];//预览图片
        var imgArrayConfig = [];//图片对应config数据
        if (picIds != null && picIds != undefined && picIds != '') {
            imgArray = new Array();
            imgArrayConfig = new Array();
            var picId = picIds.split(',');
            for (var i = 0; i <= picId.length; i++) {
                if (picId[i] != null && picId[i] != '') {//遍历图片id
                    imgArray.push("/img/getImage/" + picId[i] + "");//封装预览图片
                    //封装config
                    var config = new Object();
                    config.caption = picId[i] + ".jpg";
                    config.url = '/img/imgDeleteMul';//删除图片接口
                    config.key = picId[i];//设置删除图片时参数

                    imgArrayConfig.push(config);
                }
            }
        }
        var oFileInput = new FileInput();
        //参数1:控件id、参数2:上传地址  3.初始化展示图片数组  4.图片预览参数、删除url配置
        oFileInput.Init("reportFile", "/img/imgUploadMul", imgArray, imgArrayConfig);
    }
    //销毁fileinput
    var destoryFileInput = function () {
        $("#reportFile").fileinput('destroy');
        createFileInput(baseId)
    };

    destoryFileInput();

</script>
@}
