@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>城市管理管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="City.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="CityTableToolbar" role="group">
                            @if(shiro.hasPermission("/city/add")){
                                <#button name="添加" icon="fa-plus" clickFun="City.openAddCity()"/>
                            @}
                            @if(shiro.hasPermission("/city/update")){
                                <#button name="修改" icon="fa-edit" clickFun="City.openCityDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/city/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="City.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="CityTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/city/city/city.js"></script>
@}
