@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="row">
                            <!--<#input id="columnId" name="栏目类型" value="${item.columnId}" underline="true"/>-->
                            <#select name="栏目类型" id="columnId"/>
                            <#input id="name" name="标签名" value="${item.name}" />
                            <#input id="sort" name="前台显示顺序" value="${item.sort}"/>
                </div>

            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="TagInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="TagInfoDlg.close()"/>
                </div>
            </div>
        </div>

        <input id="id" value="${item.id}" type="hidden"/>
        <input id="createTime"  value="${item.createTime}"  type="hidden"/>
        <input id="updateTime"  value="${item.updateTime}"  type="hidden"/>
    </div>
</div>
<script src="${ctxPath}/static/modular/tag/tag/tag_info.js"></script>
@}
