@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="row">
                    <#select name="栏目类型" id="columnId"/>
                    <#input id="name" name="标签名"/>
                    <#input id="sort" name="排序"/>
                    <#avatar id="picture" name="封面图"/>
                    <input id="old_object_name" type="hidden"/>
                    <input id="object_name" name="阿里云OSS删除时用到的key" type="hidden"/>

                </div>
                <script>
                    $("#columnId").append('<option value="0">通用标签</option>');
                    $.post(Feng.ctxPath + "/columnType/getColumnTypeList", function (data) {
                        for (var i = 0; i < data.length; i++) {
                            var jsonObj = data[i];
                            var optionstring = "";
                            var option=$('<option value="' + jsonObj.id + '" '+(jsonObj.id==$('#parentId_').val()?'selected="selected"':'')+'>' + jsonObj.name + '</option>')
                            $("#columnId").append(option);
                        }
                    });
                </script>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="TagInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="TagInfoDlg.close()"/>
                </div>
            </div>
        </div>

        <input id="id" name="" type="hidden"/>
        <input id="createTime" type="hidden"/>
        <input id="updateTime"  type="hidden"/>
    </div>
</div>
<script src="${ctxPath}/static/modular/tag/tag/tag_info.js"></script>
@}
